  
<%= form_for @bookmark do |f| %>

  <div class="field">
    <%= f.label :list, "Bookmark:" %><br>
    <%= f.select :list, options_for_select(@bookmarks, 1), {}, id:"bookmark_select" %>
  </div>

<% end %>