<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-xs-3">
		<%= render 'categories/categories' %>
	</div>
	<div class="col-xs-6" id="posts">
		<%= render 'posts/posts' %>
	</div>
</div>