<div class="frontpage">
	<ul class="tabmenu">
		<li><a class="active" href="/">New</a></li>
		<li><a href="/">Something</a></li>
		<li><a href="/">Top</a></li>
		<li><a href="/">Discussed</a></li>
	</ul>

	<%= render 'categories/categories' %>
	
	<%= render 'posts/posts' %>
</div>