
  <ul class="subjectmenu">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category %></li>
      <ul>
      <% @subcategories.each do |subcategory| %>
      	<% next if category.id != subcategory.category_id %>
        <li><%=link_to subcategory.name %></li>
      <% end %>
      </ul>
    <% end %>
  </ul>