		<div class="row">
			<div class="col-xs-3">
				<%= render 'categories/categories' %>
			</div>
			<div class="col-xs-6">
				<div class="container" id="post-form">
					<h1 class="center_h1">Edit Post</h1>
					<%= render 'form' %>	
					<%= link_to 'Show', @post %>
				</div>
			</div>
		</div>
		