		<div class="row">
			<div class="col-xs-3">
				<%= render 'categories/categories' %>
			</div>
			<div class="col-xs-6">
				<div class="container center_div">
					<h1 class="center_h1">Submit an article</h1>
					<%= render 'form' %>	
				</div>
			</div>
		</div>