/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.alert-alert {
  @extend .alert-warning !optional;
}

.alert-notice {
  @extend .alert-info !optional;
}

#menu {
	z-index: 999;

	ul {
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333;
    	position: fixed;
    	top: 0;
    	width: 100%;
    	height: 3em;
	}

	img {
		max-height: 70%;
 		max-width: 70%;
	}

	li {
    	float: left;
	}

	li a {
    	display: inline-block;
    	color: white;
   		text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	}

	li a:hover {
    	background-color: #111;
	}
}

#userbox {
	right: 3em;
	top: 11em; 
	float: right;
	position: fixed;
	background-color: #f1f1f1;
	z-index: 999;
	display: block;
    width: 200px;
    padding: 10px;
    border: solid #e1e1e1;
    border-width: 2px 2px;
}

