/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import "bootstrap-sprockets"
@import "bootstrap"


.alert-alert
    @extend .alert-warning !optional

.alert-notice
    @extend .alert-info !optional

.navbar-brand
    img
        max-height: 50px
        max-width: 30%
        overflow: visible
        padding-top: 0
        padding-bottom: 0

#right-sidebar
    margin-top: 5em

#search-box
    float: right
    position: fixed
    background-color: #f1f1f1
    z-index: 999
    display: block
    width: 250px
    padding: 10px
    border: solid #e1e1e1
    border-width: 2px 2px

#userbox
    top: 9em
    float: right
    position: fixed
    background-color: #f1f1f1
    z-index: 999
    display: block
    width: 250px
    padding: 10px
    border: solid #e1e1e1
    border-width: 2px 2px








