// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-subjectmenu{
	margin-top: 10em;
	margin-left: 2em;
	list-style-type: none;
	background-color: #f1f1f1;
	overflow: none;
	width: 15%;
	height: 100%;
	padding: 0;
	float: left;

	li a{
		text-decoration: none;
		display: block;
		border: 1px solid #e7e7e7;
		padding: 8px 0 8px 16px;
	}
}
