// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.post {
	display: block;
	margin-top: 2em;
	margin-left: 25%;
	margin-right: 25%;
	border: 1px solid #e7e7e7;
	background-color: #f3f3f3;
	padding: 2em;

}

.tabmenu {
	margin-left: 2em;
	margin-top: 6em;
	list-style-type: none;
	padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    white-space: nowrap;
    display: inline-block;

	li {
    	float: left;
	}

	li a {
    	display: inline;
    	color: #666;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	}

	li a:hover:not(.active) {
    	background-color: #ddd;
	}

	li a.active {
    	color: white;
    	background-color: black;
	}
}

.subjectmenu {
	margin-top: 10em;
	margin-left: 2em;
	list-style-type: none;
	background-color: #f1f1f1;
	overflow: none;
	width: 15%;
	height: 100%;
	padding: 0;
	float: left;

	li a{
		text-decoration: none;
		display: block;
		border: 1px solid #e7e7e7;
		padding: 8px 0 8px 16px;

	}

}