// Place all the styles related to the subscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.subcategory-options {
	right: 3em;
	float: right;
	position: fixed;
	background-color: #f1f1f1;
	z-index: 999;
	display: block;
    width: 200px;
    padding: 10px;
    border: solid #e1e1e1;
    border-width: 2px 2px;
}