<h3>Categories</h3>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Subcategory</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
          <% @subcategories.each do |subcategory| %>
              <td><%= subcategory.name %></td>
          <% end %>
      </tr>
    <% end %>
    <% @subcategories.each do |subcategory| %>
      <tr>
        <td><%= subcategory.category.name %></td>
        <td><%= subcategory.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>