<h1>Categories</h1>


  <ul class="admin-subjectmenu">
    <% @categories.each do |category| %>
    <li><%= link_to category.name, category %></li>
      <ul>
      <% @subcategories.each do |subcategory| %>
      	<% next if category.id != subcategory.category_id %>
        <li><%=link_to subcategory.name %></li>
      <% end %>
      </ul>
    <% end %>
  </ul>

<button id="new-cat-path"><%=link_to "Create new category", new_category_path %></button>